
body{
     font-family: 'Oswald', sans-serif;
     
}

a{
     font-family: sans-serif;
}

p{
     font-family: sans-serif;
      
}


/* navbar */
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
     margin-left: 100px;
     font-weight: 500;

}

.nav-link{
     margin-left: 25px;
}


 
/* footer */
 
#footer{
     margin: 0px ;
     padding: 0px;
     overflow: hidden;
     margin-bottom: -110px;
     padding: 80px;
     
}
.icone i{
     color: rgb(69, 130, 243);
     font-size: 30px;
     letter-spacing: 10px;

}

.content p{
     color: rgb(169, 165, 165);
     font-size: 15px;
}
 
.img-gradient img{
     filter: brightness(0.5);
}

 


@media only screen and (max-width:500px) {

     
     .caption-item h1{
          font-size: 18px;
     }

     .caption-item p{
          font-size: 10px;
     }

     .caption-item{
          margin-top: 10px;
     }
}

 
 
 
 
 
 
 
 
 
 