
body{
     font-family: 'Oswald', sans-serif;
     
}

a{
     font-family: sans-serif;
}

p{
     font-family: sans-serif;
}


ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
     margin-left: 100px;
     font-weight: 500;

}

.nav-link{
     margin-left: 25px;
}

 
 
 
 
 
 
 
 
 
 

 
 
 
 
 
 